@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-to-bottom {
  position: relative;
}

.rscroll-to-bottom {
  height: 100%;
  overflow-y: auto;
  width: 100%;
}
